/* min-width -> If you are doing mobile first design */
/* max-width -> If you are doing desktop first design */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4px;
  flex-wrap: wrap;
}

.item {
  width: 100px;
  height: 100px;
  background-color: red;
}

h1 {
  color: green;
}

h1::after {
  content: "-->Desktop";
}

/* Media Query */
/* media type - print, screen, all */
/* First find out all the break point for you browser */

/* iPad BreakPint - 800px */
@media screen and (max-width: 800px) {
  h1 {
    color: brown;
  }
  h1::after {
    content: "-->Ipad";
  }
}

/* iPhone Breakpoint - 390px */
@media screen and (max-width: 390px) {
  h1 {
    color: blue;
  }
  h1::after {
    content: "-->Mobile";
  }
}

/* If Mobile First */
/* iPhone Breakpoint - 390px */
/* @media screen and (min-width: 390px) {
  h1 {
    color: blue;
  }
  h1::after {
    content: "-->Mobile";
  }
} */

/* iPad BreakPint - 800px */
/* @media screen and (min-width: 800px) {
  h1 {
    color: brown;
  }
  h1::after {
    content: "-->Ipad";
  }
} */
